/*---------------------------------------------------
 MAIN LAYOUT 
----------------------------------------------------*/

/* Change main colors */
:root {
    --main-color: #303136;
    --background-color: #ececec;
    --dark-main-color: #36c;
}

.container {
	margin-top: 55px;
}


/*---------------------------------------------------
 MENU
----------------------------------------------------*/

#shaarli-menu {
	max-height: 55px;
}

.pure-menu-item {
	height: 55px;
}

.pure-menu-selected .pure-menu-link:visited,
.pure-menu-selected .pure-menu-link,
.pure-menu-link:visited,
.pure-menu-link {
	padding: 1.15em 1em;
}

.pure-menu-item:hover::after {
	background: var(--background-color);
}

.linkcount {
    right: 25px;
		top: 20px;
}
.subheader-form {
	padding: 20px 0 20px 0;
	background: var(--dark-main-color);
}

/*---------------------------------------------------
 LINKLIST
----------------------------------------------------*/

#linklist {
	margin-top: 35px;
}

.search-linklist {
	padding-top: 40px;
}

.pure-alert {
	margin: 20px;
}

/* --- Navigation and filters --- */

.linksperpage a {
    border-radius: 2px;
		width: 25px;
}

.linksperpage input[type="text"] {
    padding: 5px 9px 3px 8px;
		border-radius: 2px;
}

.linklist-filters-text,
.linksperpage .pure-u-0 {
	margin-right: 5px;
}

.linklist-filters {
	border-radius: 2px;
}

/* --- Card Layout --- */

.linklist-item {
	box-shadow: none;
	background: white;
	padding: 5px 10px;
	border-radius: 2px;
}

.linklist-item-infos {
	background: white;
}

.linklist-item-title {
	background: white;
}

.linklist-item.private::before {
	display: none;
}

/* --- Link Card Icons --- */

/* Hide external link icon. */
.linklist-real-url > i {
	display: none;
}

.linklist-item-infos a {
	color: #c6c6c6;
}

.edit-link {
	color: #c6c6c6;
	transform: translateY(2px);
}

.delete-link {
	color: #c6c6c6!important;
}

.delete-link:hover {
	color: #d91414 !important;
	transition: all 0.8s;
}

.pinned-link {
	color: var(--dark-main-color)!important;
}

.pin-link {
	transform: translateY(2px);
}

.pin-link:hover,
.edit-link:hover {
	color: var(--dark-main-color)!important;
	transition: all 0.8s;
}

/* --- Tags and icons --- */

.linklist-item-tags {
	padding-bottom: 5px;
}

.label-tag {
	padding: 0 0 5px 0;
}

/* Make dots between tags disappear... */
.linklist-item-infos .linklist-item-tags {
	color: transparent;
}

.label-tag a {
	color: var(--dark-main-color);
	background: white;
	border: 1px solid var(--dark-main-color);
	border-radius: 2px;
	padding: 2px 6px;
	transition: all 0.25s;
}

.label-tag a:hover {
	color: white;
	background: var(--dark-main-color);
}

.linklist-item-tags .fa-tags {
	display: none;
}

/* Bottom icons */

.linklist-item-infos-controls-group {
	border-right: none;
}

/* Make dots between icons disappear... */
.linklist-item-infos .mobile-buttons {
	color: transparent;	
}

/* --- Labels --- */

.linklist-item-title .label-private {
	border: none;	
	color: white;
	background: #0b5ea6;
	padding: 4px 6px;
}


/*---------------------------------------------------
 TOOLBAR 
----------------------------------------------------*/

.toolbar-plugin input[type="text"],
.searchform-block input[type="text"] {
	background: white;
	box-shadow: none;
}


/*---------------------------------------------------
 ADD SHAARE 
----------------------------------------------------*/

.page-form {
	box-shadow: none;
	margin: 30px 0 31px;
	padding: 25px 0;
}

.page-form input[type="submit"],
.page-form .submit-buttons .button.button-red {
	border-radius: 2px;
	box-shadow: none;
}

.page-form input[type="submit"]:hover {
	box-shadow: 1px 1px 1px #d8d8d8,-1px -1px 6px #d8d8d8,-1px 1px 2px #d8d8d8,1px -1px 2px #d8d8d8;
}


/*---------------------------------------------------
 TAGCLOUD 
----------------------------------------------------*/

.tag-sort a {
	border-radius: 2px;
}

.cloudtag-container a {
 	color: white;
	display: inline-block;
	background: var(--dark-main-color);
	padding: 0.1em 0.3em;
	border-radius: 3px;
	margin: 0px 0px 8px 8px;
}

.cloudtag-container .count {
	margin-left: -2px;
	color: var(--dark-main-color);
	background: transparent;
	border: 1px solid var(--dark-main-color);
	font-size: 0.7em;
}
